<div *ngFor="let reminder of reminders | async">
  
    <span class="normal-text title">Visitar {{reminder.medicSection}}</span>
    <span class="normal-text title">el día {{reminder.date}} a las</span>
    <span class="normal-text title">{{reminder.time}}</span>
    <button [routerLink]="['/reminders/view/' + reminder.key]">Ver</button>
    <button [routerLink]="['/reminders/edit/' + reminder.key]">Editar</button>
    <button (click)="deleteItem(reminder.key)">Borrar</button>

</div>



<button routerLink="/reminders/add" >add</button>