<div class="view-container">
  <div class="nav"></div>

  <div class="space"></div>

      
  <div>
    <span class="normal-text title">{{medicDocument?.title}}</span>
  </div>

  <div>
      <label class="label">Fechas</label>
      <span class="normal-text">{{medicDocument?.date | date:"dd / MM / yyyy"}}</span>
  </div>

  <div>
    <label class="label">Descripción:</label>
    <span class="normal-text">{{medicDocument?.description}}</span>
  </div>

  <div>
    <label class="label">Categoria:</label>
    <span class="normal-text">{{medicDocument?.category}}</span>
  </div>

  <div>
    <img src="{{medicDocument?.url}}" alt="">
  </div>


  <div>
      <button (click)="edit()"
      class="save-button">
        Editar
      </button>
  </div>

  <div>
    <button (click)="delete()" routerLink="/home"
      class="save-button">
      Eliminar
    </button>
  </div>

  <div>
    <button routerLink="/home"
      class="save-button"> Home
    </button>
  </div>

</div>