<div class="display-user-container">
    <div class="header">
        <div class=navbar>
            <div (click)="logout()" class="logout-container">
                <span class="icon-log-out"></span>
            </div>
            <div class="clock-container">
                <span class="icon-clock"></span>
            </div>
            <div class="search-container">
                <span class="icon-search"></span>
            </div>
        </div>
        <div class="profile-background">
            <div class="name-container">
                <p *ngIf="userInfo | async as user" 
                    class="standard-text "> 
                    {{user.email}} 
                </p>
            </div>
            <div class="photo-container">
    
            </div>
        </div>
    </div>

  <app-medic-document-list></app-medic-document-list>
  <button routerLink="/add" class="call-to-action">+</button>
</div>

