<div class="display-user-container">
    <div class="header">
        <div class=navbar>
            <div (click)="logout()"
                  class="logout-container">
                <span class="icon-log-out"></span>
            </div>
            <div (click)="navigateToReminders()" 
                 class="clock-container">
                <span class="icon-clock"></span>
            </div>

            <div class="profile-container"
                 [routerLink]="['/profile']" 
                 (click)="setUser()">
                <span class="icon-user"></span>
            </div>

        </div>
        <div class="profile-background">
            <div class="name-container">
                <p *ngIf="userInfo | async as user" class="standard-text "> 
                    {{user.email}} 
                </p>
            </div>
            <div class="photo-container" *ngIf="userInfo | async as user" [ngStyle]="{'background-image':'url(' + user.photoURL + ')'}">
                    
            </div>
        
        </div>
    </div>

  <app-medic-document-list></app-medic-document-list>
  <button routerLink="/add" class="call-to-action"><span>+</span></button>
</div>

