.medic-document-container {
    text-align: center;
}

.medic-document {
    width: 50%;
    padding-bottom: 2em;
    margin: 1em;
    display: inline-block;
    cursor: pointer;
    background-color: rebeccapurple;
}