

<div  class="medic-document-container">
  <div class="space"></div>
  <div *ngFor="let medicDocument of medicDocuments | async">
    <div [routerLink]="['/view/' + medicDocument.key]" class="medic-document">
      <p class="normal-text title">{{medicDocument.title}}</p>
      <p class="normal-text date">{{medicDocument.date | date:"dd / MM / yyyy"}}</p>
      <p class="normal-text category">#{{medicDocument.category}}</p>
    </div>
  </div>
</div>
<div class="space"></div>


<div class="filterContainer">
    <button class="secondary-button" (click)="filterBy('Receta')">#Receta</button>
    <button class="secondary-button" (click)="filterBy('Radiografía')">#Radiografía</button>
    <button class="secondary-button" (click)="filterBy('Laboratorio')">#Laboratorio</button>
    <button class="secondary-button" (click)="filterBy('Otro')">#Otro</button>
    <button class="secondary-button" (click)="getAllElements()">#Todo</button>
</div>


<input
  [(ngModel)]="wordText"
  #word2='ngModel' 
>


<button (click)="filterByName(wordText)">Search</button>

