<form [formGroup]="form" role="form" (ngSubmit)="onSubmit()" novalidate>
  <div [class.has-error]="name.invalid && name.touched">
    <input [formControl]="name" required type="text" id="name" name="name" class="primary-input" placeholder="Nombre">
    <!-- <div>
        <ul>
            <li *ngIf="name.valid || name.pristine">Enter your name</li>
            <li *ngIf="name.dirty && name.hasError('required')">A name is required</li>
        </ul>
    </div> -->
  </div>

  <div [class.has-error]="email.invalid && email.touched">
    <input [formControl]="email" required type="email" id="email" name="email" class="primary-input" placeholder="Correo electrónico">
    <!-- <div>
        <ul>
          <li *ngIf="email.valid || email.pristine">Enter your email address</li>
          <li *ngIf="email.dirty && email.hasError('required')">An email address is required</li>
          <li *ngIf="email.dirty && email.hasError('email')">Please enter a valid email address</li>
        </ul>
    </div> -->
  </div>

  <div [class.has-error]="password.invalid && password.touched">
    <input [formControl]="password" type="password" required id="password" name="password" class="primary-input" placeholder="Contraseña">
    <!-- <div>
        <ul>
            <li *ngIf="password.dirty && password.valid || password.pristine">Enter your password</li>
            <li *ngIf="password.dirty && password.hasError('required')">A password is required</li>
        </ul>
    </div> -->
  </div>

<div [class.has-error]="(password2.invalid || form.hasError('mismatchedPasswords')) && password2.touched">
  <input [formControl]="password2" type="password" id="password2"name="password2" class="primary-input" placeholder="Confirmar Contraseña">
  <!-- <div>
     <ul>
      <li *ngIf="(password2.valid && !form.hasError('mismatchedPasswords')) || password2.pristine">Repeat
          your
          password
      </li>
      <li *ngIf="password2.dirty && password2.hasError('required')">A password is required</li>
      <li *ngIf="password2.dirty && password2.valid && form.hasError('mismatchedPasswords')">Passwords
          don't
          match
      </li>
    </ul>
  </div> -->
</div>

<div class="space"></div>

<button type="submit" [disabled]="!form.valid" class="primary-button pointer">
    Register
</button>



</form>
