//UserHome----------------------------------------//

.profile-container {
    width: 100%;
    height: 6em;
}



//login----------------------------------------//

.login-container {
    padding-top: 70px;
}

.text-container {
    padding-top: 35px;
}

.logo {
    width: 66px;
    object-fit: contain;
}

.primary-button{
    margin-top: 1em;
}