<div class="header">
    <div class=navbar>
        <span [routerLink]="['/home']" class="icon-arrow-left2"
              style="margin-top: 0.5em"
        ></span>
    </div>
    <div class="profile-background">
        <div class="name-container">
            <p *ngIf="userInfo | async as user" class="standard-text "> 
                {{user.email}} 
            </p>
        </div>
        <div class="photo-container" *ngIf="userInfo | async as user" [ngStyle]="{'background-image':'url(' + user.photoURL + ')'}">
        </div>
    
    </div>
</div>

<div class="center">


<div *ngFor="let UserMedicInfo of UserMedicInfoList | async"
    style="margin-top:5em">
    <div>
        <label class="label">Edad: </label>
        <input type="number"
               max="110"
               min="0" #updateage [value]="UserMedicInfo?.age"
               class="form-title" />
    </div>
    <div>
        <label class="label">Peso KG.: </label>
        <input type="number" 
        max="400"
        min="0"
        #updateweigth [value]="UserMedicInfo?.weight"
        class="form-title" />
    </div>
    <div>
        <label class="label">Altura en cent.: </label>
        <input type="number"
         max="400"
         min="50"
         #updateheight [value]="UserMedicInfo.height" 
         class="form-title"/>
    </div>
    <div>
        <label class="label">Tipo de sangre: </label>
        <input type="text" #updateblod [value]="UserMedicInfo?.blod"
        class="form-title" />
    </div>



    <button 
    class="save-button"
    style="margin-top:2em"
    (click)="update(UserMedicInfo.key,updateage.value,updateweigth.value,updateheight.value,updateblod.value)">Actualizar</button>

</div>

</div>