<div class="nav">

</div>

<div class="form-container">
  <div>
    <label class="form-tex">Nuevo docuemento médico</label>
  </div>
  <div class="space"></div>

  <div>
    <label class="label">Título</label>
    <div>
      <input [(ngModel)] = "medicDocument.title"
      [ngClass]="{'primary-invalid-input': title.invalid && title.touched}" 
      #title='ngModel'
      class="form-title"
      name="title" 
      type="text"
      maxlength="50" 
      placeholder="Título"
      required>
    </div>

    <p  *ngIf=" title.hasError('required')"
      class="information-text--blue" >
        * Título es un campo obligatorio
    </p>

  </div>
  

  <div>
    <label class="label">Descripción</label>
    <div>
      <textarea [(ngModel)] = "medicDocument.description" 
      maxlength="300" 
      #description='ngModel' 
      name="description" 
      type="text"
      placeholder="Descripción"
      class="area-form"
      ></textarea>
    </div>
  </div>

  <div class="date-container">
    <label class="label">Fecha:</label>
    <input [(ngModel)] = "medicDocument.date" type="date"
      #date='ngModel'
      name="date" 
      class="date-input">
  </div>

  <div class="category-container">
    <label class="label">Categoría:</label>
    <select [(ngModel)] = "medicDocument.category" 
      #category="ngModel"
      name="category"
      required
      class="date-input">
        <option value="Laboratorio">Laboratorio</option>
        <option value="Radiografía">Radiografía</option>
        <option value="Receta">Receta Médica</option>
        <option value="Otro">Otro</option>
    </select>

      <p  *ngIf="category.hasError('required')"
      class="information-text--blue"  >
          *  Categoría es un campo obligatorio
      </p>
  
  </div>

  <label>
    <input type="file" (change)='detectFiles($event)'>
  </label>


  Progress: {{medicDocument?.photoName}} | {{medicDocument?.progress}}% Complete 

  <div class="space"></div>

  <div>
    <button  [ngClass]="{'disabled-sve-button ': title.invalid || category.invalid}"
             [disabled]="title.invalid || category.invalid" 
             (click)="save()"
             class="save-button">
             Guardar docuemento
            </button>
  </div>
</div>