
<div>
        <label class="form-tex">Nombre del doctor</label>
</div>

<input [(ngModel)] = 'reminder.doctor'
        #titile = 'ngModel'
        name = 'doctor'
        type = ''   
        class="form-title"
        placeholder = 'Nombre del doctor'
        maxlength="50">

<div>
        <label class="form-tex">Especialidad del Doctor</label>
</div>

<input [(ngModel)] = 'reminder.medicSection'
        [ngClass]="{'primary-invalid-input': medicSection.invalid && medicSection.touched}"
        #medicSection = 'ngModel'
        name = 'medicSection'
        class="form-title"
        maxlength="50"
        placeholder="Especialidad del Doctor"
        required>

<p  *ngIf=" medicSection.hasError('required')"
        class="information-text--blue" >
        * La especilidad del doctor es un campo obligatorio
</p>
        

<div>
        <label class="form-tex">Hora de la consulta</label>
</div>

<input [(ngModel)] = 'reminder.time'
        [ngClass]="{'primary-invalid-input': time.invalid && time.touched}"
        id = "time"
        #time = 'ngModel'
        name = 'time'
        class="form-title"
        required
        type = "time">

<p  *ngIf=" time.hasError('required')"
        class="information-text--blue" >
        * La hora de la consulta es un campo obligatorio
</p>

<div>
        <label class="form-tex">La fecha de la consulta</label>
</div>

<input [(ngModel)] = 'reminder.date'
        [ngClass]="{'primary-invalid-input': date.invalid}"
        #date = 'ngModel'
        name = 'date'
        type = "date"
        class="form-title"
        required>

<p  *ngIf=" date.hasError('required')"
        class="information-text--blue" >
        * La fecha de la consulta es un cmapo obligaotrio
</p>



<div>
        <label class="form-tex">Descripción</label>
</div>
        
<textarea [(ngModel)] = 'reminder.description'
        #descriptio = 'ngModel'
        name = 'description'
        maxlength="100" 
        type="text"
        class="area-form"
        placeholder="Descripción">
</textarea>



        
<div>
        <button [ngClass]="{'disabled-save-button': medicSection.invalid || date.invalid || time.invalid}"
                [disabled]="medicSection.invalid || date.invalid || time.invalid" 
                class="save-button"
                (click)="save()">
                Guardar
        </button>
</div>

