::-webkit-input-placeholder { 
    color: #707070;
    font-size: 12px;
    padding-left: 1em;
}



.container {
    text-align: center;
}

.form-tex {
    color: #707070;
    font-size: 14px;
    padding-top: 1em;
}

.save-button{
    margin-top: 1em;
}