@import './assets/styles/background.scss';
@import './assets/styles/text.scss';
@import './assets/styles/input.scss';
@import './assets/styles/buttons.scss';
@import './assets/styles/standar-classes.scss';
@import './assets/styles/icons.scss';



html,body{

    margin: 0;

    & *{
        box-sizing: border-box;
    }


    font-family: "Helvetica Neue";
    
    &:focus {
        outline: 0; 
    }
}

*{
    &:focus{
        outline:0;
    }
}
