.primary-button {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 3em;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.158);
    font-size: 12px;
    color: #0a88f1;

    &:hover {
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.548);
    }
}

.disabled-primary-button {
    background: #5A7D8C;
    color: white;
    cursor: not-allowed !important;
}


.pointer {
    cursor: pointer;
}

.call-to-action {
    right: 1em;
    bottom: 1em;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    border: none;
    background: #0a88f1;
    color: white;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.16);

    span {
        font-size: 22px;
        font-weight: 400px;
    }
}

.secondary-button {
    border: none;
    border-radius: 10px;
    font-size: 14px;

    height: 2em;
    color: white;
    cursor: pointer;
    background: #0085F6;

    @media(max-width:600px){
        font-size: 10px;
    }

    &:focus {
        outline: none;
    }
}

.save-button{
    color: white;
    font-size: 12px;
    width: 164px;
    height: 39px;
    border-radius: 10px;
    background-color: #017be0;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    &:focus {
        outline: none;
    }
}


.disabled-save-button {
    background: #5A7D8C;
    color: white;
    cursor: not-allowed !important;
}
