.primary-button {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 3em;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.158);
    font-size: 12px;
    color: #0a88f1;

    &:hover {
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.548);
    }
}

.disabled-primary-button {
    background: #5A7D8C;
    color: white;
    cursor: not-allowed !important;
}


.pointer {
    cursor: pointer;
}

.call-to-action {
    right: 2em;
    bottom: 2em;
    cursor: pointer;
    position: fixed;
}