@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?kqjsbs');
  src:  url('assets/fonts/icomoon.eot?kqjsbs#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?kqjsbs') format('truetype'),
    url('assets/fonts/icomoon.woff?kqjsbs') format('woff'),
    url('assets/fonts/icomoon.svg?kqjsbs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.icon-log-out:before {
  content: "\e901";
  color: white;
  font-size: 20px;
  cursor: pointer;
}
  
.icon-google:before {
  content: "\ea88";
}

.icon-clock:before {
  cursor: pointer;
  color: white;
  font-size: 20px;
  content: "\e94e";
}

.icon-search:before {
  color: white;
  font-size: 20px;
  content: "\e986";
}

.icon-pencil:before {
  content: "\e905";
}

.icon-eye:before {
  content: "\e9ce";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-arrow-left2:before {
  content: "\ea40";
  color: white;
  cursor: pointer;
  font-size: 16px;
}


.icon-plus:before {
  content: "\ea0a";
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.standart-icon {
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  color: #007FF5;

}