<div class="login-container">
  <form [formGroup]="form" role="form" (ngSubmit)="login()" novalidate>
    <div>
        <input [formControl]="email" required type="text" id="email" name="email"
        [ngClass]="{'primary-invalid-input': email.invalid && email.touched}" 
        placeholder="Correo electrónico" 
        class="primary-input"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <div>
          <p *ngIf="email.valid || email.pristine" 
            class="information-text">
            Ingresa tu correo Electrónico
          </p>
          <p  *ngIf="email.dirty && email.hasError('required')" 
            class="information-text">
              * Correo electrónico es obligatorio
          </p>
          <p *ngIf="email.invalid && email.touched" 
            class="information-text">
            Ingresa un correo valido
          </p>
         </div>
    </div>

    <div>
        <input [formControl]="password"
         type="password"  
         class="primary-input" 
         id="password"
         name="password"
         [ngClass]="{'primary-invalid-input': password.invalid && password.touched}"
         placeholder="Contraseña">
        <div>
          <p *ngIf="password.valid || password.pristine" 
           class="information-text">
           Ingresa tu contraseña
          </p>
          <p *ngIf="password.dirty && password.hasError('required')"
             class="information-text">
             Se requiere una contraseña
          </p>
        </div>
    </div>

    <p *ngIf="error"  class="information-text" >Correo electrónico o contraseña no valido</p>

    <div>
        
        <a href="#" (click)="loginVia($event, 'google')"class="information-text" >
          <span class="icon-google"></span>
          Iniciar sesión con 
          <strong>
            Google
          </strong>
        </a>
    </div>

    <div class="space"> </div>
    <button type="submit" [ngClass]="{'disabled-primary-button': email.invalid || password.invalid }" [disabled]="email.invalid" class="primary-button pointer"> Iniciar sesión</button>
  </form>
</div>    
