<div class="login-container">
    <form [formGroup]="form" role="form" (ngSubmit)="login()" novalidate>
      <div [class.has-error]="email.invalid && email.touched">
          <input [formControl]="email" required type="text" class="primary-input" id="email" name="email" placeholder="Correo electrónico">
          <div>
              <!-- <ul>
                  <li *ngIf="email.valid || email.pristine">Ingresa tu correo Electrónico</li>
                  <li *ngIf="email.dirty && email.hasError('required')">Se requiere un correo electrónico</li>
              </ul> -->
          </div>
      </div>
  
      <div [class.has-error]="password.invalid && password.touched">
          <input [formControl]="password" type="password"  class="primary-input" id="password" name="password" placeholder="Contraseña">
          <!-- <div>
              <ul>
                  <li *ngIf="password.valid || password.pristine">Ingresa tu contraseña</li>
                  <li *ngIf="password.dirty && password.hasError('required')">Se requiere una contraseña</li>
              </ul>
          </div> -->
      </div>
      <div class="space">  </div>
      <button type="submit" class="primary-button pointer"> Iniciar sesión</button>
    </form>
    

</div>    
